.container {
  display: flex;
  margin-bottom: 100px;
}

.column {
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #73b8f0;
  margin: 5px;
}

.warning {
  background-color: yellow;
}

.card input {
  max-width: 80%;
}
